grpc-client-demoapp/src/main/app/grpc-client.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:grpc="http://www.mulesoft.org/schema/mule/grpc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/grpc http://www.mulesoft.org/schema/mule/grpc/current/mule-grpc.xsd">
    <http:listener-config xmlns:http="http://www.mulesoft.org/schema/mule/http" name="grpc-client-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="grpc-client-config" raml="grpc-client.raml" consoleEnabled="false" doc:name="Router"/>
    <grpc:config name="Grpc__Configuration" doc:name="Grpc: Configuration"/>
    <flow name="grpc-client-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="grpc-client-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <dw:transform-message doc:name="Attributes">
            <dw:set-variable variableName="attributes"><![CDATA[%dw 1.0
%output application/java
%var toRemoveKeys = ['http.query.params', 'http.uri.params', 'host', 'http.client.cert']
---
inboundProperties mapObject (value, key) -> {
	((key): value default '') when not (toRemoveKeys contains (key as :string))
}]]></dw:set-variable>
        </dw:transform-message>
        <dw:transform-message doc:name="Dummy Payload">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Language",
					"Acronym": "SGML",
					"Abbrev": "ISO 8879:1986",
					"GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
						"GlossSeeAlso": ["GML", "XML"]
                    },
					"GlossSee": "markup"
                }
            }
        }
    }
}]]></dw:set-payload>
        </dw:transform-message>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="grpc-client-config" doc:name="APIkit Router"/>
        <exception-strategy ref="grpc-client-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="grpc-client-console">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="grpc-client-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="grpc-client-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="post:/grpc/generateErrors:grpc-client-config">
        <grpc:generate-error config-ref="Grpc__Configuration" doc:name="Grpc-Generate Error">
            <grpc:attributes ref="#[flowVars.attributes]"/>
        </grpc:generate-error>
    </flow>
    <flow name="post:/grpc/sendMessage:grpc-client-config">
        <grpc:send-message config-ref="Grpc__Configuration" doc:name="Grpc-SendMessage">
            <grpc:attributes ref="#[flowVars['attributes']]"/>
        </grpc:send-message>
    </flow>
    <apikit:mapping-exception-strategy xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="grpc-client-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
